<section class="h-100 gradient-custom-2">
    <div class="card-header bg-dark text-white text-center">
        <h3>My Profil</h3>
    </div>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center">
            <div class="col col-lg-9 col-xl-8">
                <div class="card shadow-lg">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #F2E3BF; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <%= image_tag "https://picsum.photos/seed/#{current_user.id}/150",
                alt:"Generic placeholder image", class:"img-fluid img-thumbnail mt-4 mb-2",
                style:"width: 150px; z-index: 1" %>


                            <div class="d-grid gap-2 mb-5" style="z-index: 1;">
                                <%= link_to "Modify profil", edit_user_registration_path, class: "btn-custom basic" %>
                            </div>
                        </div>

                        <div class="ms-3" style="margin-top: 130px; color: black">
                            <h5><%= current_user.email %></h5>
                            <p>Member since: <%= current_user.created_at.strftime("%B %Y") %></p>
                        </div>
                    </div>
                    <div class="p-4 text-black bg-body-tertiary">
                        <div class="d-flex justify-content-end text-center py-1 text-body">
                            <div>
                                <p class="mb-1 h5">5</p>
                                <p class="small text-muted mb-0">Photos</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">2</p>
                                <p class="small text-muted mb-0">Followers</p>
                            </div>
                            <div>
                                <p class="mb-1 h5">1</p>
                                <p class="small text-muted mb-0">Following</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5  text-body">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4 bg-body-tertiary">
                                <p class="font-italic mb-1">Web Developer</p>
                                <p class="font-italic mb-1">Lives in New York</p>
                                <p class="font-italic mb-0">Photographer</p>
                            </div>
                        </div>


                        <h5>Commandes passées</h5>

                        <%
=begin%>
 <ul class="list-group mb-3">
                            <% @orders.each do |order| %>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Commande #<%= order.id %> - <%= order.created_at.strftime("%d %B %Y") %>
                                <span class="badge bg-primary">Total: <%= number_to_currency(order.total_price) %></span>
                            </li>
                            <% end %>
                        </ul> 
<%
=end%>

                        <div class="d-flex justify-content-between align-items-center mb-4 text-body">
                            <p class="lead fw-normal mb-0">Recent photos</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                        
                        <div class="row">
                            <% @images.each do |image| %>
                                <%= image_tag image, class: "card-img-top",alt: "Image commande" %>
                            <% end %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>