<h1>Commande #<%= @order.id %></h1>

<p>Status :</strong> <%= @order.status&.capitalize %></p>
<p>Date de la commande :</strong> <%= @order.created_at.strftime('%d/%m/%Y') %></p>

<hr>

<h3>Articles de la commande :</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Produit</th>
      <th>Prix Unitaire</th>
      <th>Quantité</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item.title %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.quantity * order_item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Total :</strong> <%= number_to_currency(@order.total_price) %></h3>
<hr>

<%= button_to "Confirmer la commande",  checkout_create_path(total: 1000, event_id: 1), form: { class: "d-grid"}, method: :post, class: "btn-custom basic mb-4", role: "button" , data: {turbo: false}%>
<%= link_to 'Retour à mes commandes', user_path(current_user), class: 'btn-custom default ' %>