<main class="form-signin w-50 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= image_tag "Logocatlics.png", alt: "Catlics Logo", width: 200, class: "mx-auto d-block" %>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com", autofocus: true, autocomplete: "email" %>
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password", autocomplete: "current-password" %>
      <label for="floatingPassword">Password</label>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check text-start my-3">
        <%= f.check_box :remember_me, class: "form-check-input", id: "flexCheckDefault" %>
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign in", class: "btn btn-primary w-100 py-2" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>