<div class="dropdown-container">
  <div class="dropdown-form">
    <h4>Option</h4>
    <%= form_with url: items_path, method: :get, local: true do %>
      <label>
        <%= check_box_tag "options[]", "Siamois", params[:options]&.include?("Siamois") %>
        Siamois
      </label>
      <label>
        <%= check_box_tag "options[]", "Abyssinian", params[:options]&.include?("Abyssinian") %>
        Abyssinian
      </label>
      <label>
        <%= check_box_tag "options[]", "Bengal", params[:options]&.include?("Bengal") %>
        Bengal
      </label>
      <label>
        <%= check_box_tag "options[]", "Birman", params[:options]&.include?("Birman") %>
        Birman
      </label>
      <%= submit_tag "Filtrer" %>
    <% end %>
  </div>
</div>
