<div class="container mt-4">
  <div class="card mx-auto shadow-lg" style="width: 18rem;">
    <% if @item.image.attached? %>
      <%= image_tag @item.image, class: "card-img-top", alt: @item.title %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @item.title %></h5>
      <p class="card-text"><%= @item.description %></p>
      <p class="fw-bold"><%= @item.price %> €</p>
      <% unless current_user.admin? %>
      <%= button_to 'Ajouter au panier', add_item_cart_path(item_id: @item), class: 'btn-custom basic', form: { class: "d-grid"} %>
      <% end %>
    </div>
  </div>
</div>

