<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a href="<%= items_path %>" class="d-flex align-items-center mb-5 mb-lg-0 link-body-emphasis text-decoration-none nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
                <%= image_tag "Logocatlics.png", alt: "Catlics Logo", width: 70, class: "me-1" %>
            </a>


            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>


            <div class="dropdown text-end">
                <% if user_signed_in? %>

                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-turbo="false" aria-haspopup="true">
                    <%= image_tag "https://i.pravatar.cc/300", alt: "Profile Photo", width: 32, height: 32, class: "rounded-circle" %>
                </a>
                <ul class="dropdown-menu text-small">
                    <li>
                        <% if current_user.cart %>
                        <%= link_to "Cart", cart_path(current_user.cart), class: "dropdown-item" %>
                        <% else %>
                        <%= link_to "Cart", "#", class: "dropdown-item disabled" %>
                        <% end %>
                    </li>
                    <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                </ul>
                <% else %>

                <div class="d-flex gap-2">
                    <%= link_to "Sign in", new_user_session_path, class: "btn btn-custom-primary" %>
                    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-custom-secondary" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</header>